@model IEnumerable<EmailSender.Models.Domains.Email>

@{
    ViewBag.Title = "Emaile";
}

<div align="right">
    <button class="btn btn-primary mb-3" onclick='window.location.href = "@Url.Action("Email","Home")"' >
        Wyślij nowy Email
    </button>
</div>



@if (Model != null && Model.Any())
{
    <table class="table table-hover table-striped mt-3 mb-5">
        <thead>
            <tr>
                <th scope="col">Tytuł</th>
                <th scope="col">Adresat</th>
                <th scope="col">Data wysłania</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var email in Model)
            {
                <tr>
                    <td>
                        <a class="font-weight-bold"
                           href="@Url.Action("ReadEmail", "Home", new { id = email.Id })">
                            @email.Title
                        </a>
                    </td>
                    <td>@email.Recipient</td>
                    <td>@email.SentDate.ToString("dd-MM-yyyy")</td>
                    <td>
                        <button class="btn btn-danger btn-sm"
                                onclick="deleteEmail('@email.Id', this)">
                            Usuń
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div align="center" class="mt-5">
        Brak Emaili do wyświetlenia.
    </div>
}


    @section Scripts
{
        <script type="text/javascript">

            function deleteEmail(id, btn) {

            if (!confirm("Czy napewno chcesz usunąć klienta?"))
                return;
            $.ajax({
                type: 'POST',
                url: "@Url.Action("DeleteEmail","Home")",
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.Success) {
                        var row = btn.parentNode.parentNode;
                        row.parentNode.removeChild(row);
                    } else {
                        alert(data.Message);
                    }
                },
                error: function (data) {
                    alert(data.Message);
                },
                dataType: 'json'
            });
        }

        </script>
    }