@model IEnumerable<EmailSender.Models.Domains.Email>

@{
    ViewBag.Title = "Emaile";
}

<div>
    <button class="btn btn-primary mb-3" onclick='window.location.href = "@Url.Action("Email","Home")"'>
        Wyślij nowy Email.
    </button>
</div>



@if (Model != null && Model.Any())
{
    <table class="table table-hover table-striped mt-3 mb-5">
        <thead>
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col">Kod pocztowy</th>
                <th scope="col">Miasto</th>
                <th scope="col">Ulica</th>
                <th scope="col">Numer</th>
                <th scope="col">Adres Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model)
            {
                <tr>
                    <td>
                        <a class="font-weight-bold"
                           href="
                           @Url.Action("AddClient","Home",
                        new
                        {clientId = client.Id})">
                            @client.Name
                        </a>
                    </td>
                    <td>@client.Address.PostalCode</td>
                    <td>@client.Address.City</td>
                    <td>@client.Address.Street</td>
                    <td>@client.Address.Number</td>
                    <td>@client.Email</td>
                    <td>
                        <button class="btn btn-danger btn-sm"
                                onclick="deleteClient('@client.Id', this)">
                            Usuń
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        Brak klientów do wyświetlenia.
    </div>